.center {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.top {
    text-align: center;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}